
cmake_install.cmake

CMakeCache.txt

CMakeDoxyfile.in

CMakeDoxygenDefaults.cmake

CMakeFiles/*

config.log

doc/CMakeFiles/*

doc/Doxyfile*

doc/warn.log

doc/Makefile

doc/code/

Makefile

Makefile.O

src/Makefile.O

src/CMakeFiles/*

*.o

*.tmp

src/maia

*m_log

.idea/

cmake-build-debug/*

*.cbp

*.swp

cwdlink

.nfs000*

*.ab123

.vscode/

*.code-workspace

*breakpoints

*breakpoints~

tags

compile_commands.json

.cache

maia

*.Netcdf

Residual*

forceCoef

*.png

*.gif

*.jpg

*.jpeg

*.vtk

*.sh

BIG_DATA_*
